/*Universal css*/

* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../icons/tutionHome.jpg);
    background-size: cover;
    background-position: center;
    height: 130vh;
}

.main {
    max-width: 1200px;
    margin: auto;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
    /*margin-right: 10px;*/
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li.active a {
    background-color: #fff;
    color: #000;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
    margin-top: 10px;
    /*margin-left: 10px;*/
}


/*Index css*/

.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.title h1 {
    color: #fff;
    font-size: 50px;
}

.title h4 {
    color: #fff;
    font-size: 15px;
}

.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.btn {
    /*border: 1px solid #fff;*/
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}


/*Login form css*/

.loginForm {
    width: 320px;
    height: 380px;
    background-color: #000;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 70px 30px;
    box-sizing: border-box;
    border-radius: 10px;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginForm input {
    width: 100%;
    margin-bottom: 20px;
}

.loginForm input[type="text"],
input[type="password"],
input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginForm input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background-color: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    transition: 0.4s ease;
}

.loginForm input[type="submit"]:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.loginForm textarea {
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    outline: none;
    height: 90px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
}

.loginForm a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
    transition: 0.4s ease;
}

.loginForm a:hover {
    color: #fff;
}


/*forgot & Reset password css*/

.loginForm p {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.loginForm input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background-color: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    transition: 0.4s ease;
}

.loginForm input[type="button"]:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}


/*SignUp form css*/

.signupForm {
    width: 320px;
    height: 550px;
    background-color: #000;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 35%);
    padding: 70px 30px;
    box-sizing: border-box;
    border-radius: 10px;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.signupForm input {
    width: 100%;
    margin-bottom: 20px;
}

.signupForm input[type="text"],
input[type="password"],
input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.signupForm input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background-color: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    transition: 0.4s ease;
}

.signupForm input[type="submit"]:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.signupForm a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
    transition: 0.4s ease;
}

.signupForm a:hover {
    color: #fff;
}


/*About us css*/

.aboutUs {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.aboutUs h1 {
    color: #fff;
    font-size: 50px;
}

.aboutUs h4 {
    color: #fff;
    font-size: 15px;
}

.aboutUs p {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}